<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity Suite" parallel="classes" thread-count="3" >
    <listeners>

    </listeners>
    <test name="Sanity">
    <classes>
        <class name="TestClass"/>
<!--        <class name="GmailSignInTest"></class>-->

        </classes>
    </test>


</suite>
